@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../assets/fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('../assets/fonts/Lato-Bold.ttf')
}

.movie-showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.movie-poster {
  max-height: 28vw;
  min-height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  margin-right: 50px;

  border-radius: 1vw;
}

.movie-display {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.movie-description {
  display: flex;
  flex-direction: column;

  max-width: 24vw;
  margin-top: 2vw;
}

.movie-award {
  font-family: 'DMSerifDisplay', serif;
  font-size: 28pt;
  margin: 10px 0 10px 0;
}

.movie-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  margin: 10px 0 10px 0;
}

.movie-overview {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  width: 100%;
  margin: 10px 0 10px 0;
}
