@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../assets/fonts/Lato-Regular.ttf')
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('../assets/fonts/Lato-Bold.ttf')
}
@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 50px;

  width: 55%;
}

.modal-content {
  display: flex;
  direction: row;
  justify-content: space-between;
}

.modal-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.modal-movie-poster {
  border-radius: 1vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.modal-rating-form {
  display: flex;
  flex-direction: column;
  width: 80%;

  padding: 10px 0;
}

.modal-rating-input-container {
  display: flex;
  flex-wrap: wrap;

  padding: 5% 0;

  
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.modal-rating-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  padding: 2% calc((100% - 140px)/4);
}

.modal-rating-label {
  font-family: 'Lato';
  font-weight: 600;
  text-transform: uppercase;
}

.modal-rating-input-number {
  width: 70px;

  font-family: 'Lato';
  font-size: 12pt;
  font-weight: 400;
}

.modal-rating-summary {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.modal-submit-button {

  font-family: 'DMSerifDisplay';
  font-size: 14pt;
  text-align: center;
  min-width: 78px;
  height: 80%;

  border: none;

  color: white;
  background-color: black;
  margin: 2% calc((100% - 140px)/4);
}

.modal-submit-button:hover {
  cursor: pointer;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}