@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  font-weight: 400;
  src: url('../assets/fonts/Kanit-Regular.ttf');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 300;
  src: url('../assets/fonts/Kanit-Light.ttf');
}

.unrated-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 44px);
}

.unrated-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 50px;
  width: 96%;
  padding-left: 20px;
  margin-left: 2%;
  margin-bottom: 3%;
  max-height: 100%;
  overflow-y: scroll;
}

.unrated-poster {
  height: 250px;
  margin: 10px;
  margin-left: auto;
  border-radius: 1vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.unrated-focus {
  display: flex;
  justify-content: center;
}

.unrated-title {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20pt;
}

.unrated-overview {
  font-family: 'Kanit';
  font-weight: 300;
  font-size: 12pt;

  width: 400px;
}

.unrated-poster-focus {
  height: 400px;
  margin: 5px;
}


