@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('../assets/fonts/Lato-Bold.ttf')
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  padding: 30px;

  max-height: 44px;
}

nav:after {
  content: '';
  width: 55vw;
  height: 1px;
  background: black;
  position: absolute;
  bottom: -1px;
  left: calc(45vw);
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  margin: 0 4px;
  padding: 4px 9px;

  font-family: 'Lato', 'sans-serif';
  font-weight: 600;
  font-size: 12pt;
}

.nav-list-item:hover {
  cursor: pointer;
  
  background-color: rgba(0, 0, 0, 0.1); 
}