@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

.ranking-container {
  margin: 50px;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list {
  display: flex;
  justify-content: left;
}

.category-item {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;

  margin: 0 4px;
  padding: 4px 9px;
}

.category-item:hover {
  cursor: pointer;
  
  background-color: rgba(0, 0, 0, 0.1); 
}

.movie-ranking-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 20px
}

.movie-ranking-item {
  margin: 50px;

  display: flex;
}

.movie-ranking-container {
  width: 200px;
}

.movie-ranking {
  font-family: 'DMSerifDisplay', serif;
  font-size: 24pt;
  margin-right: 30px;

  max-width: 20px;
}

.movie-ranking-poster {
  height: 190px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.movie-ranking-title {
  font-family: 'DMSerifDisplay', serif;
  font-size: 12pt;

  overflow: visible;
  text-wrap: nowrap;
}

.movie-ranking-rating {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  font-weight: 400;
}
